<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/theme.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<title>Movie Critic Bot</title>
<div class="lang">
<a href="\en_predict">English</a> | <a href="\es_predict">Español</a>
</div>
<div class="main">
<h1>Movie Critic Bot</h1>
<p class="pred_gen"><a href="\es_predict">Predecir</a> | <a href="\es_generate">Generar</a></p>
<p class="intro">¡Ingresa o escribe una opinión de cine y el bot decidirá si es positiva o negativa!</p>
{{ form.csrf }}
<div class="input-box">
<form action="" method="post">
<div class="text-input"><input type="text" class="form-control" id="name" name="name" 
placeholder=""></div>
<div class="input-submit"><input type="submit" class="go" value="Predecir"></div>
</form>
</div>
<div class="message">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{{ message[1] }}
{% endfor %}
{% endif %}
{% endwith %}
</div>
</div>
<div class="note">
<div class="about"><h2>Acerca de Movie Critic Bot</h2></div>
<div class="note-left">
<h3>La app </h3>
<p><strong>Movie Critic Bot</strong> puede hacer dos cosas:</p>
<ul>
<li>Predecir el sentimiento de reseñas de cine</li>
<li>Generar reseñas de cine</li>
</ul>
<h3>Predicción de sentimiento</h3>
<p>La función de predicción implementa un clasificador basado en scikit-learn.</p>
<h3>Generación de texto</h3>
<p>
La función de generación de texto implementa <a href="https://github.com/minimaxir/textgenrnn">textgenrnn</a>, una librería de Python para la generación de texto.</p>
</div>
<div class="note-right">
<h3> Los datos </h3>
<p>Este bot fue entrenado con 5,000 reseñas negativas y positivas de IMDb.</p>
<h3> El código </h3>
<p><a href="https://github.com/luismond/MovieCriticBot">Proyecto en Github</a> </p>
<h3> El autor </h3>
<p>Luis Mondragón, lingüísta y desarrollador.</p> 
<p>Contáctame en <a href="https://www.linkedin.com/in/luismondragon/">LinkedIn</a></p>
</div>
</div>
</body>